<div class="content">
    <div class="content-header">
        <h3>Servicios</h3>
        <button  (click)="openModal()" class="btn waves-effect waves-light" type="submit" name="action">Agregar
        </button>
    </div>
    <table class="striped">
        <thead>
          <tr>
              <th>Id</th>
              <th>Cliente</th>
              <th>Cédula</th>
              <th>Servicio</th>
              <th>Acciones</th>
          </tr>
        </thead>
    
        <tbody>
          <tr>
            <td>1</td>
            <td>Pedro Perez</td>
            <td>14224587</td>
            <td>Mantenimiento preventivo</td>
            <td><i class="material-icons">edit</i><i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <td>2</td>
            <td>Edna Restrepo</td>
            <td>52478963</td>
            <td>Reparación de software</td>
            <td><i class="material-icons">edit</i><i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <td>3</td>
            <td>Jose Salamanca</td>
            <td>320752</td>
            <td>Reparación de software</td>
            <td><i class="material-icons">edit</i><i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <td>4</td>
            <td>Susana Diaz</td>
            <td>1020584741</td>
            <td>Reparación de hardware</td>
            <td><i class="material-icons">edit</i><i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <td>5</td>
            <td>Juan Santos</td>
            <td>80565214</td>
            <td>Servicio a domicilio</td>
            <td><i class="material-icons">edit</i><i class="material-icons">delete</i></td>
          </tr>
          <tr>
            <td>6</td>
            <td>Jose Mendoza</td>
            <td>41256874</td>
            <td>Reparación de software</td>
            <td><i class="material-icons">edit</i><i class="material-icons">delete</i></td>
          </tr>
        </tbody>
      </table>
</div>

<div id="modal1" class="modal">
    <h4>Registrar Servicio de Arreglo</h4>

    <form (ngSubmit)="registrarServicio()" #servicioForm="ngForm">
  
      <div class="input-field">
        <input type="text" id="cliente" name="cliente" [(ngModel)]="servicio.cliente" required>
        <label for="cliente">Nombre del Cliente</label>
      </div>

      <div class="input-field">
        <input type="text" id="cedula" name="cedula" [(ngModel)]="servicio.cedula" required>
        <label for="cedula">Cedula del Cliente</label>
      </div>
  
      <div class="input-field">
        <input type="text" id="telefono" name="telefono" [(ngModel)]="servicio.telefono" required>
        <label for="telefono">Teléfono del Cliente</label>
      </div>
      <div class="input-field">
        <input type="text" id="direccion" name="direccion" [(ngModel)]="servicio.direccion" required>
        <label for="direccion">Dirección del Cliente</label>
      </div>
      <div class="input-field">
        <input type="text" id="danio" name="danio" [(ngModel)]="servicio.danio" required>
        <label for="danio">Tipo de Daño</label>
      </div>
  
      <div class="input-field">
        <input type="date" id="fecha" name="fecha" [(ngModel)]="servicio.fecha" required class="datepicker">
        <label for="fecha" class="active">Fecha de Ingreso</label>
      </div>
  
      <div class="input-field">
        <textarea id="observaciones" name="observaciones" class="materialize-textarea" [(ngModel)]="servicio.observaciones"></textarea>
        <label for="observaciones">Observaciones</label>
      </div>
  
      <button type="submit" class="btn green" [disabled]="!servicioForm.form.valid">
        <i class="material-icons left">save</i>Registrar
      </button>
  
    </form>
  </div>